.bloglink{
  display: flex;
  flex-direction: row;
  align-items: end;
  gap:10px;
  margin: 5px;
  .blogtitle{
    font-weight: bold;
    font-size: xx-large;
  }
}
.subheader{
  font-size: clamp(10px,2.2vw,24px);
  align-self: center;
  margin: 10px 0px 10px 0px;
  color: gray;
}

.mediatitle{
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}

.blogdate{
  margin-top: 10px;
  color:rgb(179, 233, 255);
}

.listDate{
  margin-bottom: 3px;
  color:rgb(179, 233, 255);
}

.blog-container {
  font-size: 18px;
  line-height: 1.2;
}

.blog-container em {
  color:rgb(147, 206, 206);
  font-style: italic;
}

.blog-container a {
  color: rgb(101, 150, 255)
}

.blog-container img {
  max-width: 100%;
}