.big-box{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.big-box > .main-box{
  display: flex;
  width: 70%;
  min-width: 700px;
  height: 700px;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) black;
  gap: 0px;
  padding:15px;
  padding-top: 0px;
}

.project-image{
  max-width: 250px;
  max-height: 200px;
  margin-top: 10px;
  overflow: hidden;
  border: 1px solid white;
}

.project-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.big-box > .main-box > .category{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 10px;
  margin-bottom: 0px;
}

.big-box > .main-box > .category > .projects-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 5px;
}

.project-name{
  margin: 5px;
  max-width: 250px;
  overflow-wrap: break-word;
}

.category > h2{
  margin: 5px;
}

.category .hl{
  width: 60%;
  border: 1px solid white;

}

.project-container > p{
  font-size: 18px;
  line-height:1.15;
}

.project-container  a{
  color:rgb(50, 171, 241);
}

.project-container  a:hover{
  color:rgb(94, 255, 188);
}

p:has(img){
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px; /* optional: space between images */
  max-width: 100%;
}

.project-container p > img{
  flex: 1 1 0;
  width: 0;
  max-width: 100%;       /* Prevent image from exceeding parent */
  height: auto;          /* Maintain aspect ratio */
  max-height: 600px;
  object-fit: contain;   /* Optional: prevent distortion */
}

.project-container iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.project-container code {
  font-family: monospace;
  color:lime
}